*{
margin:0;
padding:0;
box-sizing: border-box:
}

.navbar-nav .nav-link {

  font-weight: bold;
  font-size: 20px; 
}


#landing {
  background-color: #f8f9fa; /* Light gray */
}

#projects {
  background-color: darkgray!important;
  padding: 10px;
  border-top: 1px solid #ddd;
  text-align: center;
}

#tool-icon {
  height:200px;
}


#contact {
	background-color: lightskyblue!important;
}

.custom-map {
  width: 100%;
  height: 100%;
  min-height: 300px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


footer {
	background-color: #333;
  color: white;
  margin:0:;
  border-top: 0;
}

html {
	scroll-behavior: smooth;
}


.linkedin-icon img {
  width: 30px;  /* Match the size of the original */
  height: 30px; /* Match the size of the original */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.linkedin-icon img:hover {
  transform: scale(1.1); /* Enlarge icon on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow on hover */
}

